{% extends 'base.html' %}

{% block title %} Contáctanos {% endblock%}

{% block contenido %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mt-5 bg-light">
            <h2 class="text-center">Dirección</h2>
            <h3 class="text-center">UNI, Puerta Nº 5, Rímac 15333</h3>
        </div>
        <div class="col-md-4 mt-5 bg-light">
            <h2 class="text-center">Correo electrónico</h2>
            <h3 class="text-center">eata.pe@uni.edu.pe</h3>
        </div>
        <div class="col-md-4 mt-5 bg-light">
            <h2 class="text-center">Teléfono</h2>
            <h3 class="text-center">+51 ---------</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="text-center">
            <iframe 
                width="600"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1245.834383739508!2d-77.0512674!3d-12.0166872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cf18d643a701%3A0x428e90276ca96a02!2sCentro%20de%20Tecnolog%C3%ADas%20de%20Informaci%C3%B3n%20y%20Comunicaciones!5e0!3m2!1ses!2spe!4v1634642335543!5m2!1ses!2spe">
            </iframe>
        </div>
    </div>
</div>

{% endblock %}
