{% extends 'base.html' %}
{% block title %} Productos {% endblock%}

{% block contenido %}

<header id="header">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 mt-5">
    
                <div class="header-text-one">
                    <p class="h4 mt-2">Estimador de precipitación</p>
                    <div class="header-icon-one">
                        <img src="{{ url_for('static', filename='img/icon_product_one.png') }}" style="width: 100%;" alt="type1">
                    </div>
                    <p class="mt-2">El Producto "Estimador de Precipitación" utiliza temperaturas de brillo infrarrojas (IR) para identificar áreas de lluvia y calcular la tasa de precipitación. Las estimaciones de precipitación a partir de satélites pueden proporcionar información crítica sobre la lluvia en regiones donde los datos de pluviómetros o radares no están disponibles o son poco fiables, como sobre océanos o regiones escasamente pobladas.</p>
                    <a href="{{url_for('product', product_name='one')}}" class="btn btn-outline-secondary btn-ms mt-2 header-btn">Ver en tiempo real</a>
                    <a href="#" class="btn btn-outline-secondary btn-ms mt-2 header-btn">Ver de fechas pasadas</a>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                
                <div class="header-text-two">
                    <p class="h4 mt-2">Temperatura de la superficie terrestre</p>
                    <div class="header-icon-two">
                        <img src="{{ url_for('static', filename='img/icon_product_two.png') }}" style="width: 100%;" alt="type2">
                    </div>
                    <p class="mt-2">El producto satelital del GOES-R es una herramienta 
innovadora y avanzada diseñada para estimar y visualizar el vapor de agua en la atmósfera a nivel global. Utilizando tecnología satelital y algoritmos sofisticados, este producto proporciona información detallada sobre la 
distribución vertical y horizontal del vapor de agua, permitiendo un mejor entendimiento de 
los fenómenos atmosféricos y el clima. </p>
                    <a href="{{url_for('product', product_name='two')}}" class="btn btn-outline-secondary btn-ms mt-2 header-btn">Ver en tiempo real</a>
                    <a href="#" class="btn btn-outline-secondary btn-ms mt-2 header-btn">Ver de fechas pasadas</a>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                
                <div class="header-text-three">
                    <p class="h4 mt-2">Altura de la cima de la nube</p>
                    <div class="header-icon-three">
                        <img src="{{ url_for('static', filename='img/icon_product_three.png') }}" style="width: 100%;" alt="type3">
                    </div>
                    <p class="mt-2">El producto "Altura de la base de la nube" utiliza bandas infrarrojas ABI para recuperar simultáneamente la altura de la cima de las nubes, la temperatura de la cima de las nubes y la presión para cada píxel nublado. Esta información se utiliza para determinar áreas de crecimiento de nube y probabilidad de precipitación.</p>
                    <a href="{{url_for('product', product_name='three')}}" class="btn btn-outline-secondary btn-ms mt-2 header-btn">Ver en tiempo real</a>
                    <a href="#" class="btn btn-outline-secondary btn-ms mt-2 header-btn">Ver de fechas pasadas</a>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                
                <div class="header-text-four">
                    <p class="h4 mt-2">Temperatura en la cima de las nubes</p>
                    <div class="header-icon-four">
                        <img src="{{ url_for('static', filename='img/icon_product_four.png') }}" style="width: 100%;" alt="type4">
                    </div>
                    <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum sed sapiente odit est quasi, distinctio perspiciatis esse, asperiores facere neque culpa quo iure quia ut eum fugit doloremque pariatur placeat!</p>
                    <a href="{{url_for('product', product_name='four')}}" class="btn btn-outline-secondary btn-ms mt-2 header-btn">Ver en tiempo real</a>
                    <a href="#" class="btn btn-outline-secondary btn-ms mt-2 header-btn">Ver de fechas pasadas</a>
                </div>
            </div>
        </div>

        <!--- segunda fila -->
        <div class="row">
            <div class="col-md-3 mt-5">
    
                <div class="header-text-one">
                    <p class="h4 mt-2">Máscara de Cielo despejado</p>
                    <div class="header-icon-one">
                        <img src="{{ url_for('static', filename='img/icon_product_five.png') }}" style="width: 100%;" alt="type5">
                    </div>
                    <p class="mt-2">El algoritmo de máscara de cielo despejado aprovecha la alta resolución espacial y temporal de las bandas visible, infrarroja cercana e infrarroja del GOES-R ABI para producir automáticamente una clasificación de nubes para cada píxel: nublado, probablemente nublado, despejado o probablemente despejado.</p>
                    <a href="{{url_for('product', product_name='five')}}" class="btn btn-outline-secondary btn-ms mt-2 header-btn">Ver en tiempo real</a>
                    <a href="#" class="btn btn-outline-secondary btn-ms mt-2 header-btn">Ver de fechas pasadas</a>
                </div>
                
            </div>
            <div class="col-md-3 mt-5">
                
                <div class="header-text-two">
                    
                    <p class="h4 mt-2">Índice de precipitaciones</p>
                    <div class="header-icon-two">
                        <img src="{{ url_for('static', filename='img/icon_product_six.png') }}" style="width: 100%;" alt="type6">
                    </div>
                    <p class="mt-2">Este producto se genera a partir de las temperaturas de brillo infrarrojo ABI. El algoritmo 
genera estimaciones de la tasa de lluvia instantánea en cada píxel. La información proporcionada por la estimación cuantitativa de la precipitación es utilizada por pronosticadores e hidrólogos en la predicción de crecidas.</p>
                    <a href="{{url_for('product', product_name='six')}}" class="btn btn-outline-secondary btn-ms mt-2 header-btn">Ver en tiempo real</a>
                    <a href="#" class="btn btn-outline-secondary btn-ms mt-2 header-btn">Ver de fechas pasadas</a>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                
                <div class="header-text-three">
                    <p class="h4 mt-2">Total de agua precipitable</p>
                    <div class="header-icon-three">
                        <img src="{{ url_for('static', filename='img/icon_product_seven.png') }}" style="width: 100%;" alt="type7">
                    </div>
                    <p class="mt-2">El producto se calcula a partir de los perfiles de humedad atmosférica recuperados y representa la humedad total integrada en la columna atmosférica desde la superficie hasta la parte superior de la atmósfera. Este producto proporciona información útil a los meteorólogos e hidrólogos para mejorar su conocimiento situacional en una serie de situaciones que requieren pronósticos de eventos, como lluvias intensas, inundaciones repentinas.</p>
                    <a href="{{url_for('product', product_name='seven')}}" class="btn btn-outline-secondary btn-ms mt-2 header-btn">Ver en tiempo real</a>
                    <a href="#" class="btn btn-outline-secondary btn-ms mt-2 header-btn">Ver de fechas pasadas</a>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                
                <div class="header-text-four">
                    <p class="h4 mt-2">Fase de la cima de la nube</p>
                    <div class="header-icon-four">
                        <img src="{{ url_for('static', filename='img/icon_product_eight.png') }}" style="width: 100%;" alt="type8">
                    </div>
                    <p class="mt-2">El producto utiliza cuatro bandas espectrales infrarrojas del GOES-R ABI para determinar cuatro fases diferentes de la nube: agua líquida tibia, agua líquida superenfriada, mixta y hielo. Permite a los meteorólogos monitorear y rastrear mejor los cambios en las propiedades del agua de las nubes, mejorar los pronósticos de formación de hielo y ayudar a mejorar las advertencias de clima severo.</p>
                    <a href="{{url_for('product', product_name='eight')}}" class="btn btn-outline-secondary btn-ms mt-2 header-btn">Ver en tiempo real</a>
                    <a href="#" class="btn btn-outline-secondary btn-ms mt-2 header-btn">Ver de fechas pasadas</a>
                </div>
            </div>
        </div>

    </div>
</header>

{% endblock %}
